<footer class="footer2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pr-lg-5">
                <div class="widget">
                    {{#compare logoName '!==' ''}}
                    <img src="{{path}}assets/images/{{logoName}}" class="footer-logo" alt="img">
                    {{else}}
                    <img src="{{path}}assets/images/logo.png" class="footer-logo" alt="#">
                    {{/compare}}
                    <p class=" mt-4 mr-lg-4">It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="widget">
                    <h4 class="footer-title">Useful links</h4>
                    <div class="menu-link">
                        <ul id="menu-link-menu" class="menu">
                            <li> <a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget">
                    <h4 class="mb-4 footer-title">Latest News</h4>
                    <div class="iq-blog-content bdr-bottom">
                        <div class="iq-blog-meta">
                            <ul class="iq-postdate">
                                <li class="list-inline-item">
                                    <i class="far fa-calendar-alt mr-1"></i> <a href="#">1 Feb 2020</a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <a href="#">
                                <h5 class="mb-3">Fully dedicated to finding.</h5>
                            </a>
                        </div>
                    </div>
                    <div class="iq-blog-content">
                        <div class="iq-blog-meta">
                            <ul class="iq-postdate">
                                <li class="list-inline-item">
                                    <i class="far fa-calendar-alt mr-1"></i> <a href="#">1 Feb 2020</a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <a href="#">
                                <h5 class="mb-3">Fully dedicated to finding.</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget">
                    <h4 class="footer-title">Headquarter</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="iq-contact">
                                <li>
                                    <a href="tel:+0123456789"><i class="fa fa-phone"
                                            aria-hidden="true"></i><span>+0123456789</span></a>
                                </li>
                                <li>
                                    <a href="mailto:support@themes.com"><i class="fa fa-envelope"
                                            aria-hidden="true"></i><span>support@themes.com</span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-home" aria-hidden="true"></i><span>1234 North Avenue Luke Lane,
                                            South Bend, IN 360001</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-footer pb-3 pt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                    <span class="copyright">Copyright 2020 ©iqonic.design</span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="social-icone">
                        <ul>
                            <li class="d-inline"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="d-inline"><a href="#"><i class="fab fa-google"></i></a></li>
                            <li class="d-inline"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="d-inline"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- === back-to-top === -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> <ion-icon name="chevron-up-outline"></ion-icon> </a>
</div>