
{{#extend layout app="true" title="crm-schedule" active="crm-schedule" bodyClass="color-light" path="../" }}
    {{#content "content"}}
      <div class="container-fluid crm3">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header">
                     <ul class="list-unstyled calender-box mb-0">
                        <li class="text-center">
                           <h4 class="mb-1">New</h4>
                           <span class="mb-0 mt-1 text-success"><i class="ri-arrow-right-up-line"></i>$ 500</span>
                           <span> <i class="fa fa-circle pro-font line-height" aria-hidden="true"></i> 5 Deals</span>
                        </li>
                        <li class="text-center">
                           <h4 class="mb-1">Follow up</h4>
                           <span class="mb-0 mt-1 text-danger"><i class="ri-arrow-left-down-line"></i>$ 1500</span>
                           <span> <i class="fa fa-circle pro-font line-height" aria-hidden="true"></i> 2 Deals</span>
                        </li>
                        <li class="text-center">
                           <h4 class="mb-1">Under review</h4>
                           <span class="mb-0 mt-1 text-warning"><i class="ri-arrow-right-up-line"></i>$6000</span>
                           <span> <i class="fa fa-circle pro-font line-height" aria-hidden="true"></i> 5 Deals</span>
                        </li>
                        <li class="text-center">
                           <h4 class="mb-1">Demo</h4>
                           <span class="mb-0 mt-1 text-primary"><i class="ri-arrow-right-up-line"></i>$3000</span>
                           <span> <i class="fa fa-circle pro-font line-height" aria-hidden="true"></i> 5 Deals</span>
                        </li>
                        <li class="text-center">
                           <h4 class="mb-1">Negotiation</h4>
                           <span class="mb-0 mt-1 text-info"><i class="ri-arrow-left-down-line"></i>$8000</span>
                           <span> <i class="fa fa-circle pro-font line-height" aria-hidden="true"></i> 5 Deals</span>
                        </li>
                        <li class="text-center">
                           <h4 class="mb-1">Won</h4>
                           <span class="mb-0 mt-1 text-warning"><i class="ri-arrow-right-up-line"></i>$9000</span>
                           <span> <i class="fa fa-circle pro-font line-height" aria-hidden="true"></i> 5 Deals</span>
                        </li>
                     </ul>
                  </div>
                  <div class="card-body">
                     <div id="calendar2"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {{/content}}
{{/extend}}